## Loading Data & Visualizations

Goals:
- Get data
- Inspect data
- The .pipe method

#### Loading Data

In [1]:
!pip install matplotlib

Requirement already satisfied: matplotlib in d:\python\lib\site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in d:\python\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in d:\python\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\python\lib\site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\python\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in d:\python\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in d:\python\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in d:\python\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\python\lib\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in d:\python\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in d:\python\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
!pip install yfinance

Requirement already satisfied: yfinance in d:\python\lib\site-packages (0.2.52)
Requirement already satisfied: pandas>=1.3.0 in d:\python\lib\site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in d:\python\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in d:\python\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in d:\python\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in d:\python\lib\site-packages (from yfinance) (5.2.2)
Requirement already satisfied: platformdirs>=2.0.0 in d:\python\lib\site-packages (from yfinance) (4.3.2)
Requirement already satisfied: pytz>=2022.5 in d:\python\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in d:\python\lib\site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in d:\python\lib\site-packages (from yfinance) (3.17.9)
Requirement already satisfied: beautifulsoup4>=4.11.1 in d:\python\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in d:\python\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in d:\python\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in d:\python\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in d:\python\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\python\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in d:\python\lib\site-packages (from pandas>=1.3.0->yfinance) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\python\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in d:\python\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\python\lib\site-packages (from requests>=2.31->yfinance) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in d:\python\lib\site-packages (from requests>=2.31->yfinance) (2024.7.4)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
from matplotlib import dates
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import yfinance as yf

In [4]:
raw = yf.download('SPY AAPL', start='2010-01-01', end='2019-12-31')

[*********************100%***********************]  2 of 2 completed

In [5]:
raw

Price           Close                   High                    Low  \
Ticker           AAPL         SPY       AAPL         SPY       AAPL
Date
2010-01-04   6.440330   86.026466   6.455076   86.072009   6.391278
2010-01-05   6.451464   86.254196   6.487877   86.292152   6.417458
2010-01-06   6.348847   86.314926   6.477046   86.527467   6.342226
2010-01-07   6.337110   86.679276   6.379843   86.785546   6.291067
2010-01-08   6.379242   86.967720   6.379845   87.005676   6.291370
...               ...         ...        ...         ...        ...
2019-12-23  68.757668  297.810944  68.818194  298.209600  67.878827
2019-12-24  68.823029  297.820251  68.973140  298.089097  68.496193
2019-12-26  70.188507  299.405609  70.205456  299.414889  68.927145
2019-12-27  70.161850  299.331329  71.171429  300.202828  69.755116
2019-12-30  70.578293  297.681122  70.861558  299.553931  69.053038

Price                        Open                 Volume
Ticker             SPY       AAPL         SPY       AAPL        SPY
Date
2010-01-04   84.644942   6.422876   85.297751  493729600  118944600
2010-01-05   85.662115   6.458084   85.973340  601904800  111579900
2010-01-06   86.102385   6.451466   86.170699  552160000  116074400
2010-01-07   85.912604   6.372319   86.155509  477131200  131091100
2010-01-08   86.276961   6.328685   86.451546  447610800  126402800
...                ...        ...         ...        ...        ...
2019-12-23  297.662600  67.917565  298.153975   98572000   52990000
2019-12-24  297.514284  68.924716  298.042752   48478800   20270000
2019-12-26  298.200359  68.956196  298.209611   93121200   30911200
2019-12-27  298.793610  70.481430  300.147203  146266000   42528800
2019-12-30  297.189747  70.079558  299.414868  144114400   49729100

[2515 rows x 10 columns]

In [6]:
raw.columns

MultiIndex([( 'Close', 'AAPL'),
            ( 'Close',  'SPY'),
            (  'High', 'AAPL'),
            (  'High',  'SPY'),
            (   'Low', 'AAPL'),
            (   'Low',  'SPY'),
            (  'Open', 'AAPL'),
            (  'Open',  'SPY'),
            ('Volume', 'AAPL'),
            ('Volume',  'SPY')],
           names=['Price', 'Ticker'])

In [7]:
# Going to use the .pipe method a lot
raw.pipe?

Signature:
raw.pipe(
    func: 'Callable[..., T] | tuple[Callable[..., T], str]',
    *args,
    **kwargs,
) -> 'T'
Docstring:
Apply chainable functions that expect Series or DataFrames.

Parameters
----------
func : function
    Function to apply to the Series/DataFrame.
    ``args``, and ``kwargs`` are passed into ``func``.
    Alternatively a ``(callable, data_keyword)`` tuple where
    ``data_keyword`` is a string indicating the keyword of
    ``callable`` that expects the Series/DataFrame.
*args : iterable, optional
    Positional arguments passed into ``func``.
**kwargs : mapping, optional
    A dictionary of keyword arguments passed into ``func``.

Returns
-------
the return type of ``func``.

See Also
--------
DataFrame.apply : Apply a function along input axis of DataFrame.
DataFrame.map : Apply a function elementwise on a whole DataFrame.
Series.map : Apply a mapping correspondence on a
    :class:`~pandas.Series`.

Notes
-----
Use ``.pipe`` when chaining together functions that expect
Series, DataFrames or GroupBy objects.

Examples
--------
Constructing a income DataFrame from a dictionary.

>>> data = [[8000, 1000], [9500, np.nan], [5000, 2000]]
>>> df = pd.DataFrame(data, columns=['Salary', 'Others'])
>>> df
   Salary  Others
0    8000  1000.0
1    9500     NaN
2    5000  2000.0

Functions that perform tax reductions on an income DataFrame.

>>> def subtract_federal_tax(df):
...     return df * 0.9
>>> def subtract_state_tax(df, rate):
...     return df * (1 - rate)
>>> def subtract_national_insurance(df, rate, rate_increase):
...     new_rate = rate + rate_increase
...     return df * (1 - new_rate)

Instead of writing

>>> subtract_national_insurance(
...     subtract_state_tax(subtract_federal_tax(df), rate=0.12),
...     rate=0.05,
...     rate_increase=0.02)  # doctest: +SKIP

You can write

>>> (
...     df.pipe(subtract_federal_tax)
...     .pipe(subtract_state_tax, rate=0.12)
...     .pipe(subtract_national_insurance, rate=0.05, rate_increase=0.02)
... )
    Salary   Others
0  5892.48   736.56
1  6997.32      NaN
2  3682.80  1473.12

If you have a function that takes the data as (say) the second
argument, pass a tuple indicating which keyword expects the
data. For example, suppose ``national_insurance`` takes its data as ``df``
in the second argument:

>>> def subtract_national_insurance(rate, df, rate_increase):
...     new_rate = rate + rate_increase
...     return df * (1 - new_rate)
>>> (
...     df.pipe(subtract_federal_tax)
...     .pipe(subtract_state_tax, rate=0.12)
...     .pipe(
...         (subtract_national_insurance, 'df'),
...         rate=0.05,
...         rate_increase=0.02
...     )
... )
    Salary   Others
0  5892.48   736.56
1  6997.32      NaN
2  3682.80  1473.12
File:      d:\python\lib\site-packages\pandas\core\generic.py
Type:      method

In [8]:
def fix_cols(df):
    columns = df.columns
    outer = [col[0] for col in columns]
    df.columns = outer
    return df

(raw
 .iloc[:,::2]
 .pipe(fix_cols)
)

                Close       High        Low       Open     Volume
Date
2010-01-04   6.440330   6.455076   6.391278   6.422876  493729600
2010-01-05   6.451464   6.487877   6.417458   6.458084  601904800
2010-01-06   6.348847   6.477046   6.342226   6.451466  552160000
2010-01-07   6.337110   6.379843   6.291067   6.372319  477131200
2010-01-08   6.379242   6.379845   6.291370   6.328685  447610800
...               ...        ...        ...        ...        ...
2019-12-23  68.757668  68.818194  67.878827  67.917565   98572000
2019-12-24  68.823029  68.973140  68.496193  68.924716   48478800
2019-12-26  70.188507  70.205456  68.927145  68.956196   93121200
2019-12-27  70.161850  71.171429  69.755116  70.481430  146266000
2019-12-30  70.578293  70.861558  69.053038  70.079558  144114400

[2515 rows x 5 columns]

**Understanding the fix_cols function**
- This function extracts the first element from each column name and sets it as the new column name.
- It assumes that the column names are tuples or lists (multi-indexed columns).

**Applying .iloc[:, ::2]**
- iloc[:, ::2]: This selects every second column (i.e., 0, 2, 4, ...).
- .pipe(fix_cols): Passes the result of .iloc into the fix_cols function.

**Overall Explanation**
- raw.iloc[:, ::2]: Selects every second column of raw.
- pipe(fix_cols): Passes the subsetted DataFrame to fix_cols, renaming columns by extracting the first element from each column name.

In [9]:
import yfinance as yf

def fix_cols(df):
    columns = df.columns
    outer = [col[0] for col in columns]
    df.columns = outer
    return df

def tweak_data():
    raw = yf.download('SPY AAPL', start='2010-01-01', end='2019-12-31')

    return (raw
     .iloc[:,::2]
     .pipe(fix_cols)
    )

tweak_data()

[*********************100%***********************]  2 of 2 completed

                Close       High        Low       Open     Volume
Date
2010-01-04   6.440330   6.455076   6.391278   6.422876  493729600
2010-01-05   6.451464   6.487877   6.417458   6.458084  601904800
2010-01-06   6.348847   6.477046   6.342226   6.451466  552160000
2010-01-07   6.337110   6.379843   6.291067   6.372319  477131200
2010-01-08   6.379242   6.379845   6.291370   6.328685  447610800
...               ...        ...        ...        ...        ...
2019-12-23  68.757668  68.818194  67.878827  67.917565   98572000
2019-12-24  68.823029  68.973140  68.496193  68.924716   48478800
2019-12-26  70.188507  70.205456  68.927145  68.956196   93121200
2019-12-27  70.161850  71.171429  69.755116  70.481430  146266000
2019-12-30  70.578293  70.861558  69.053038  70.079558  144114400

[2515 rows x 5 columns]